body {
    margin: 0;
    display: flex;
    justify-content: center;
   
    height: 500px;

}



.btn {
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 6px;
    
    height: 30px;
    align-self: center;
}

.popover {
    position: absolute;
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 999;
    padding: 10px;
  }
  

  .popover-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .hidden {
    display: none;
  }